*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

body {
  font-family: "Manrope", sans-serif;
  background-color: #ecf2f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

img {
  max-width: 100%; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.preview-component {
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px; }
  @media (min-width: 800px) {
    .preview-component {
      max-width: 800px; } }

.main {
  display: flex;
  flex-direction: column; }
  @media (min-width: 800px) {
    .main {
      flex-direction: row; } }

.main__img {
  overflow: hidden;
  height: 250px; }
  @media (min-width: 800px) {
    .main__img {
      position: relative;
      height: auto;
      width: 100%;
      border-radius: 10px 0 0 10px; } }
  .main__img img {
    border-radius: 10px 10px 0 0; }
    @media (min-width: 800px) {
      .main__img img {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        max-width: none;
        height: 100%; } }

.content_container {
  padding: 30px; }

.main__content {
  color: #48556a;
  line-height: 1.5;
  position: relative; }

.main__heading {
  margin-bottom: 15px; }

.footer {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between; }

.footer .group > img {
  width: 50px;
  border-radius: 50%;
  float: left; }

.footer__content,
.footer__social {
  margin-left: 20px; }

.footer__img,
.footer__content,
.footer__share-more__text,
.footer__social {
  float: left; }

#share-btn {
  z-index: 1; }

.footer__share button {
  border: none;
  background-color: #eef1f6;
  padding: 10px;
  border-radius: 50%; }
  .footer__share button:hover {
    cursor: pointer; }
  .footer__share button.show {
    background-color: #6d7f97; }

.footer__share img {
  width: 25px; }

.footer__share--active button {
  background-color: transparent; }
  @media (min-width: 800px) {
    .footer__share--active button {
      display: none; } }

.footer__share-more {
  background-color: #48556a;
  color: #9eafc2;
  font-weight: 300;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 20px 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  @media (min-width: 800px) {
    .footer__share-more {
      position: absolute;
      right: -75px;
      left: auto;
      bottom: 115px;
      border-radius: 10px; } }
  .footer__share-more.show {
    display: flex; }
  @media (min-width: 800px) {
    .footer__share-more::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      border-width: 15px;
      border-style: solid;
      border-color: #48556a transparent transparent transparent; } }

.footer__social img {
  width: 25px;
  margin-right: 10px; }
