.preview-component {
	max-width: 400px;
	background-color: #fff;
	border-radius: 10px;
}

// component image
.main__img {
	overflow: hidden;
	height: 250px;

	img {
		border-radius: 10px 10px 0 0;
	}
}

// main component content
.main__content {
	padding: 30px;
	color: $DarkGrayishBlue;
	line-height: 1.5;
}

.main__heading {
	margin-bottom: 15px;
}

// Footer
.footer {
	padding: 0 30px 30px 30px;
	display: flex;
	justify-content: space-between;
}

.footer__img {
	img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
}

.footer__content,
.footer__social {
	padding-left: 20px;
}

.footer__img,
.footer__content,
.footer__share-more__text,
.footer__social {
	float: left;
}

.footer__share {
	button {
		border: none;

		&:hover {
			cursor: pointer;
		}
	}

	.wrapper {
		background-color: $lightGray;
		padding: 10px;
		border-radius: 50%;
	}

	img {
		width: 25px;
	}
}

.footer__share--active {
	.wrapper {
		background-color: $DarkBlue;
	}
}

.footer__share-more {
	background-color: $DarkGrayishBlue;
	color: $GrayishBlue;
	font-weight: 300;
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 10px 10px;
	padding: 20px;
	display: none;

	&.show {
		display: flex;
	}
}

.footer__social {
	img {
		width: 25px;
		margin-right: 10px;
	}
}
