.preview-component {
	max-width: 400px;
	background-color: #fff;
	border-radius: 10px;

	@media (min-width: $DesktopSize) {
		max-width: 800px;
	}
}

.main {
	display: flex;
	flex-direction: column;
	@media (min-width: $DesktopSize) {
		flex-direction: row;
	}
}

// component image
.main__img {
	overflow: hidden;
	height: 250px;

	@media (min-width: $DesktopSize) {
		position: relative;
		height: auto;
		width: 100%;
		border-radius: 10px 0 0 10px;
	}

	img {
		border-radius: 10px 10px 0 0;

		@media (min-width: $DesktopSize) {
			position: absolute;
			top: 50%;
			left: 60%;
			transform: translate(-50%, -50%);
			max-width: none;
			height: 100%;
		}
	}
}

// main component content
.main__content {
	padding: 30px;
	color: $DarkGrayishBlue;
	line-height: 1.5;
	position: relative;
}

.main__heading {
	margin-bottom: 15px;
}

// Footer
.footer {
	// padding: 0 30px 30px 30px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}

.footer__img {
	img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
}

.footer__content,
.footer__social {
	padding-left: 20px;
}

.footer__img,
.footer__content,
.footer__share-more__text,
.footer__social {
	float: left;
}

.footer__share {
	button {
		border: none;

		&:hover {
			cursor: pointer;
		}
	}

	.wrapper {
		background-color: $lightGray;
		padding: 10px;
		border-radius: 50%;
	}

	img {
		width: 25px;
	}
}

.footer__share--active {
	.wrapper {
		background-color: $DarkBlue;

		@media (min-width: $DesktopSize) {
			display: none;
		}
	}
}

.footer__share-more {
	background-color: $DarkGrayishBlue;
	color: $GrayishBlue;
	font-weight: 300;
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 10px 10px;
	padding: 20px;
	// display: none;

	@media (min-width: $DesktopSize) {
		position: absolute;
		right: -75px;
		bottom: 115px;
		border-radius: 10px;
	}

	&.show {
		display: flex;
	}

	&::after {
		@media (min-width: $DesktopSize) {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -15px;
			border-width: 15px;
			border-style: solid;
			border-color: $DarkGrayishBlue transparent transparent transparent;
		}
	}
}

.footer__social {
	img {
		width: 25px;
		margin-right: 10px;
	}
}
