// Colors
$DarkGrayishBlue: hsl(217, 19%, 35%);
$DarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);
$lightGray: #eef1f6;
// Device sizes
$MobileSize: 375px;
$DesktopSize: 1440px;
